<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-dark text-white" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Creacion de usuario</h2>

                            <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

                                <div data-mdb-input-init class="form mb-4">
                                    <label class="form-label" for="">Nombre</label>
                                    <input type="text" formControlName="name" class="form-control form-control-lg" />
                                    <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched"
                                        class="error-message">
                                        <small>El nombre es requerido</small>
                                    </div>

                                </div>

                                <div data-mdb-input-init class="form mb-4">
                                    <label class="form-label" for="">Email</label>
                                    <input type="email" formControlName="email" class="form-control form-control-lg" />
                                    <small
                                        *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched  ">
                                        Debe ingresar un email valido.
                                    </small>
                                </div>

                                <div data-mdb-input-init class="form mb-4">
                                    <label class="form-label" for="">Contraseña</label>
                                    <input type="password" formControlName="password"
                                        class="form-control form-control-lg" />
                                    <small
                                        *ngIf="registerForm.get('password')?.invalid&& registerForm.get('password')?.touched ">
                                        La contraseña no es valida.
                                    </small>
                                </div>

                                <div data-mdb-input-init class="form mb-4">
                                    <label class="form-label" for="">Repetir contraseña</label>
                                    <input type="password" formControlName="password1"
                                        class="form-control form-control-lg" />
                                    <small
                                        *ngIf="registerForm.get('password1')?.invalid  && registerForm.get('password1')?.touched ">
                                        La contraseña no cumple lo requerido.
                                    </small>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button [disabled]="!registerForm.valid" type="submit"
                                        class="btn btn-success btn-block btn-lg ">Registrarme</button>
                                </div>
                                <p class="text-center mt-5 mb-0">Ya tienes una cuenta? <a href="/login"
                                        class="text-white-50 fw-bold">Ingresa aqui</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>